.about{
  text-align: center;
}
.education-div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .education-div ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
  }
  .education-div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .education-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .education-div li {
    margin-bottom: 5px;
  }
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 150%;
    height: 150%;
}
  .exp-div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .exp-div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
  .exp-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .exp-div li {
    margin-bottom: 5px;
    justify-content: space-between;
  }
  
  .skill-div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .skill-div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .skill-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-div li {
    margin-bottom: 5px;
    justify-content: space-around;
    display:contents;
  }
ul.SkillsList{
  display: initial;
}
  