

.img-Linkedin {
    height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
}




.Links{
    display: flex;
    color: black;
    
}


.dropdown1234 img{
  margin-right: 3rem;
  height: 2rem;
}
.links1234{
  justify-content: space-around;
  display: contents
}
.nav-bar1234{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}