#goals {
    width: 35rem;
    max-width: 90%;
    margin: 3rem auto;
  }
  
  #goal-form {
    width: 30rem;
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
.Skill-box{
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    display: flex;
  }
.Skill{
    align-items: center;    
    text-align: center;
    justify-content: center;
    display: flex;
}
.form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
  }